@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Libre+Barcode+39+Text&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
    --md-bg-color: #191c1e;
    --md-bg-color2: #23272a;
    --md-item-active: #12191e;
    --md-accent: #bcdceb;
    --md-recentGamesGradient: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(25, 28, 30, 1) 100%);
}

@keyframes fadein {
    from { background: #bcdceb47; }
    to   { background: var(--md-item-active) }
}

@keyframes fadeinSidebar {
    from { background: #bcdceb47; }
    to   { background: var(--md-accent) }
}

.gamepaddialog_ModalPosition_30VHl>.gamepaddialog_GamepadDialogContent_3joNk {
    background: var(--md-bg-color);
}
button.gamepaddialog_Button_1kn70.DialogButton.gpfocus.Primary, button.gamepaddialog_Button_1kn70.DialogButton:active.Primary, button.gamepaddialog_Button_1kn70.DialogButton:enabled.gpfocus.Primary, button.gamepaddialog_Button_1kn70.DialogButton:enabled:active.Primary, button.gamepaddialog_Button_1kn70.DialogButton:active.gpfocus.Primary, button.gamepaddialog_Button_1kn70.DialogButton:active:active.Primary, button.gamepaddialog_Button_1kn70.DialogButton:hover.gpfocus.Primary, button.gamepaddialog_Button_1kn70.DialogButton:hover:active.Primary, button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover.gpfocus.Primary, button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover:active.Primary {
    background: var(--md-accent);
    color: #000;
    outline: none;
}

.BasicUI .appdetailsplaysection_MenuButton_3qDWQ.Focusable:focus, .gamepadcontextmenu_contextMenuItem_1sdvo.gamepadcontextmenu_SubMenu_1_tPN.gamepadcontextmenu_active_2Pk-x {
    background: var(--md-accent);
    color: #000;
    outline: none;
}

.quickaccessmenu_QuickAccessMenu_V0cr-,.quickaccessmenu_Title_34nl5,.quickaccessmenu_Tab_1S76C, .gamepadpage_GamepadPage_2FqpD.gamepadpage_DialogBackground_2msTK {
    background: var(--md-bg-color);
}
.gamepadpagedsettings_PagedSettingsDialog_PageListColumn_2EZ3o {
    background: var(--md-bg-color2);
}
.gamepadhome_TabbedContent_cE1Sa {
    background: var(--md-bg-color);
}

.gamepadslider_SliderTrack_Mq25N {
    --left-track-color: var(--virtualmenu-accent) !important;
}
.mainmenu_Menu_23IDi {
    background: var(--md-bg-color);
}
.gamepaddialog_ToggleRail_2JtC3::before {
    background: var(--md-accent);
}
.gamepadhomewhatsnew_EventType_1f0dZ, .gamepadhomewhatsnew_EventType_1f0dZ.gamepadhomewhatsnew_EventType13_16aly {
    color: var(--md-accent);
    font-family: "Space Mono";
}

.gamepadhomerecentgames_RecentGamesBackgroundImages_30D-8 .gamepadhomerecentgames_RecentGamesBackground_1SRox {
    filter: saturate(0.5) blur(5px);
}

.lockscreen_NumericButtonOption_2c4Hz.Panel {
    font-family: "Space Mono" !important;
}

.header_Clock_1HhLU {
    font-family: "Libre Barcode 39 Text" !important;
    font-size: 40px !important;
}

.gamepadhomerecentgames_RecentGamesBackgroundFadeGradient_1ksIq {
    background: var(--md-recentGamesGradient);
}

.gamepaddialog_Field_S-_La.gamepaddialog_HighlightOnFocus_wE4V6.gpfocus, .gamepaddialog_Field_S-_La.gamepaddialog_HighlightOnFocus_wE4V6.gpfocuswithin, .gamepadpagedsettings_PagedSettingsDialog_PageListItem_1ix7r.gamepadpagedsettings_Active_22LLB {
    background: var(--md-accent);
    color: #000 !important;
    animation-name: fadein;
    
}

.gamepadpagedsettings_PagedSettingsDialog_PageListItem_1ix7r.gamepadpagedsettings_Active_22LLB {
animation-name: fadeinSidebar;  
}


button {
    border-radius: 5px !important;
}

.gamepadpagedsettings_PagedSettingDialog_ContentColumn_3JPle {
    background: var(--md-bg-color)
}
.gamepadcontextmenu_contextMenuItem_1sdvo.gamepadcontextmenu_Focused_X813r {
    background: var(--md-accent);
    color: #000;
    padding-left: 25px;
    font-size: x-large;
}



.gamepadcontextmenu_contextMenuItem_1sdvo {
    min-width: 300px;
    background: var(--md-bg-color);
    font-size: large;
    transition: all 0.2s ease-in-out;
}

* {
    font-family: 'DM Sans', monospace !important;
    font-weight: 500;
}

.quickaccessmenu_Title_34nl5 {
    box-shadow: none;
}


button.gamepaddialog_Button_1kn70.DialogButton.gpfocus, button.gamepaddialog_Button_1kn70.DialogButton:active, button.gamepaddialog_Button_1kn70.DialogButton:enabled.gpfocus, button.gamepaddialog_Button_1kn70.DialogButton:enabled:active, button.gamepaddialog_Button_1kn70.DialogButton:active.gpfocus, button.gamepaddialog_Button_1kn70.DialogButton:active:active, button.gamepaddialog_Button_1kn70.DialogButton:hover.gpfocus, button.gamepaddialog_Button_1kn70.DialogButton:hover:active, button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover.gpfocus, button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover:active {
    background: var(--md-accent);
    color: #000;
    outline: none;
}
button.gamepaddialog_Button_1kn70.DialogButton, button.gamepaddialog_Button_1kn70.DialogButton.Primary, button.gamepaddialog_Button_1kn70.DialogButton:enabled, button.gamepaddialog_Button_1kn70.DialogButton:enabled.Primary, button.gamepaddialog_Button_1kn70.DialogButton:active, button.gamepaddialog_Button_1kn70.DialogButton:active.Primary, button.gamepaddialog_Button_1kn70.DialogButton:hover, button.gamepaddialog_Button_1kn70.DialogButton:hover.Primary, button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover, button.gamepaddialog_Button_1kn70.DialogButton:enabled:active:hover.Primary {
    background: var(--md-bg-color2);
}

.marquee_Content_2ADpT, .quickaccessmenu_Title_34nl5 > div, .quickaccessmenu_Title_34nl5, .quickaccesscontrols_Text_1hJkB, .appactionbutton_ButtonText_33cnX, .recentlycompleted_RecentlyCompleted_3fDIR, .appdetailsplaysection_PlayBarLabel_34lrt, .recentlycompleted_Header_NhBU2, .gamepadhomefriends_FriendsHeader_1Ejje, .appdetailssectionheader_LabelText_3i0ko, .personanameandstatus_playerName_r62qz, .appactivityday_AppActivityDate_19LfM, .homestorecarousel_Header_xpRXv, .gamepadtabbedpage_TabTitle_1nq0i, .DialogHeader, .gamepadhomerecentgames_RecentGamesHeader_35iRe, .appportrait_Message_3CRLA  {
    font-family: "Space Mono", monospace !important;
    font-weight: bold !important;
}


.GamepadMode.friendlist {
    background: var(--md-bg-color);
}
.appportrait_Draggable_1pwP4 {
    border-radius: 50%;
}

.gamepadlibrary_GamepadLibrary_ZBBhe {
    background: var(--md-bg-color);
}

.quickaccessmenu_Tab_1S76C.quickaccessmenu_Selected_2QHMu {
    background: var(--md-accent);
    color: #000;
    animation-name: fadeinSidebar;
}
.mainmenu_Item_2w9Tp.mainmenu_Active_10bq5:focus,.mainmenu_Item_2w9Tp.gpfocus {

    background: var(--md-item-active);
    color: #000 !important;
    animation-name: fadein;
}
.quickaccessmenu_Tab_1S76C.quickaccessmenu_Selected_2QHMu.gpfocus {
    color: #000;

}
.mainmenu_Item_2w9Tp .mainmenu_ActiveDot_1uLVH {
    background: transparent;
    background-image: url("https://photos.lumey.dev/api/v1/dl/0e471a78ef68eb476fe427a57682aff156b55363?t=16tdrjio");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0%;
    /* Rotate the image onto its side */
    transform: rotate(90deg);
    width: 35px !important;
    height: 100% !important;
    left: 2px !important;
}

.gamepadtabbedpage_Tab_3eEbS.gamepadtabbedpage_Selected_3Gp1b {
    background: var(--md-accent);
    color: #000;
}